// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
$font-family: "Itim";
.v-application {
    [class*="text-"] {
        font-family: $font-family, sans-serif !important;
    }
    font-family: $font-family, sans-serif !important;
}

.scroll-up {
    transform: translateY(100px);
    opacity: 0;
}
.scroll-up-enter {
    transition: transform 1.5s;
    transform: translateY(0px);
    opacity: 1;
}

.slide-left {
    transform: translateX(100vw);
    opacity: 0;
}
.slide-left-enter {
    transition: transform 1.5s, box-shadow 0.2s;
    transform: translateX(0px);
    opacity: 1;
}

.scale-up {
    transform: scale(0);
    opacity: 0;
}
.scale-up-enter {
    transition: transform 1s, opacity 1.5s, box-shadow 0.2s;
    transform: scale(1);
    opacity: 1;
    &:hover {
        transform: scale(1.03);
        transition: transform 0.2s ease-in-out;
        z-index: 1;
    }
}

/* width */
::-webkit-scrollbar {
    height: 5px;
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    // background: #00000071;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: rgb(134, 134, 134);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(121, 121, 121);
}
