// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
$font-family: "Itim";
.v-application {
    [class*="text-"] {
        font-family: $font-family, sans-serif !important;
    }
    font-family: $font-family, sans-serif !important;
}

.scroll-up {
    transform: translateY(100px);
    opacity: 0;
}
.scroll-up-enter {
    transition: transform 1.5s;
    transform: translateY(0px);
    opacity: 1;
}

.slide-left {
    transform: translateX(100vw);
    opacity: 0;
}
.slide-left-enter {
    transition: transform 1.5s, box-shadow 0.2s;
    transform: translateX(0px);
    opacity: 1;
}

.scale-up {
    transform: scale(0);
    opacity: 0;
}
.scale-up-enter {
    transition: transform 1s, opacity 1.5s, box-shadow 0.2s;;
    transform: scale(1);
    opacity: 1;
    &:hover {
        transform: scale(1.03);
        transition: transform 0.2s ease-in-out;
    }
}
